{% load i18n %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8"/>
    <title>{% trans "Livarava Test Project" %}</title>
    <meta name="description" value="{% trans 'LivaRava Test Project' %}">
    <!-- Include Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<body>
    <!-- Start Container -->
    <div class="container">
        <!-- Start Header -->
        <div class="row" id="header">
            {% block logo %}
            <!-- Logo -->
            <div class="col-md-12">
                <h1>{% trans 'Livarava Test Task 3' %}</h1>
            </div>
            {% endblock logo %}
        </div>
        <!-- End Header -->

        <!-- NavBar -->
        <ul class="nav nav-tabs">
            {% url "home" as home_url %}
            <li role="presentation" {% if request.path == home_url %} class="active" {% endif %}><a href="{% url "home" %}">{% trans "Home" %}</a></li>
            {% url "create_note" as create_note_url %}
            <li role="presentation" {% if request.path == create_note_url %} class="active" {% endif %}><a href="{% url "create_note" %}">{% trans "Create Note Form" %}</a></li>
            {% url "custom_tag" as custom_tag_url %}
            <li role="presentation" {% if request.path == custom_tag_url %} class="active" {% endif %}><a href="{% url "custom_tag" %}">{% trans "Custom Tag Endpoint" %}</a></li>
        <!-- End NavBar -->

        <!-- Start Main Page Content -->
        <div class="row" id="content-columns">
            <h4 class='col-xs-2'>{% trans 'total notes: ' %}{{ notes_count }}</h4>
            <div class="col-xs-12" id="content-column" style="margin-top: 10px;
                                                              margin-bottom: 10px;">
             {% block content %}{% endblock content %}
            </div>
        </div>

        {% block footer %}
        <!-- End Content Columns -->
        <!-- Start Footer -->
        <div class="row" id="footer">
            <div class="col-xs-12">
                &copy; 2015 {% trans 'Test task 3 LivaRava' %}
            </div>
        </div>
        <!-- End Footer -->
        {% endblock footer %}
    </div>

<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
