{% extends "base.html" %} 
{% load i18n %}

{% block content %}
{% if messages %}
<div class="alert alert-success" role="alert"> {% for message in messages %}{{ message}}{% endfor %}</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">{% trans "Please, correct the errors!" %}</div>
{% endif %}

<form method="post" action="{% url 'create_note' %}" class="form-horizontal col-md-6 col-xs-12">
    {% csrf_token %}
    <div class="form-group" {% if form.errors %}class="has-error"{% endif %}>
        <label for="text">{% trans "Enter your text note" %}</label>
        <textarea class="form-control" rows="4" name="text" id="text"></textarea>
    </div>
    <button type="submit" class="btn btn-default">{% trans "Create note" %}</button>
</form>
{% endblock content %}
